#Environment Variables
.env.local
.env

/.ipynb_checkpoints/
/ml-1m/
/model/test-tmdb_file.py
/model/error log
/model/users.dat
/data/
/ml-1m.zip
/ml-1m-Copy1.zip
/model/ratings.dat
/README
/Readme.txt
/model/
/model/
